@font-face {
    font-family: 'harryfont';
    src: url('data/font/harryfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font: 'harryfont', serif; 
    --font-title: 'harryfont', serif; 
    --font-sans-serif: 'harryfont', sans-serif; 
    --black: #1c1f33;
    --black--acc: #222;
    --gray: #eee;
    --gray-1: #ededed;
}

* {
    box-sizing: border-box;
    /* cursor: url('data/magic_wand.png'), auto; */
}

body {
    font-size: 1.1rem;
    background: var(--preview-bg);
    font-family: var(--font);
    color: var(--black);
    background: url(data/background-texture-4.png) repeat;
    padding: 4rem 2rem;
    line-height: 1.3;
    text-align: justify;
}

a {
    text-decoration: none;
    display: block;
    color: var(--black);

    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: var(--black--acc);
    }
}

.main__wrapper {
    max-width: 1135px;
    margin: auto;
}

h1 {
    font: 50px/1 'harryfont';
    text-align: center;

    @media (min-width: 700px) {
        font: 70px/1 'harryfont';
    }
}

.title--large.main-title {
    text-align: center;
}

h3 {
    font: italic 20px var(--font-title); 
    margin-bottom: 1rem;
}

h4 {
    font: 20px/1.2 var(--font-title);
}

h5 {
    font: 700 20px/1 var(--font);
    transition: 0.3s ease;
}

p {
    line-height: 1.3;

    a {
        display: inline;
    }
}

em {
    font-style: italic;
}

.title--large {
    font-family: var(--font-title);
    font-size: 32px;
    font-style: italic;
    text-align: left;
    margin-bottom: 0.8rem;

    @media (min-width: 700px) {
        font-size: 42px;
        margin: 0;
    }
}

main {
    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 23%;
        grid-template-rows: repeat(5, auto);
        grid-gap: 1.2rem;
    }

    h1,
    aside {
        grid-column: 1 / -1;
    }

    .main-title {
        @media (min-width: 700px) {
            grid-column: 1 / -1;
        }

        @media (min-width: 1024px) {
            grid-column: 1 / -1;
        }
    }

    .terrarium {
        @media (min-width: 700px) {
            grid-column: 1 / -1;
        }

        @media (min-width: 1024px) {
            grid-column: 3 / span 2;
        }
    }

    .main-text {
        @media (min-width: 700px) {
            grid-column: span 5;
        }

        @media (min-width: 1024px) {
            grid-column: span 2;
        }
    }

    .sidebar {
        @media (min-width: 700px) {
            grid-column: 1 / -1;
        }

        @media (min-width: 1024px) {
            grid-row: 3 / 9;
            grid-column: 5 / 6;
        }
    }

    .social {
        grid-column: 1 / -2;
        grid-row: 8 / 9;
    }

    .article-bar-1 {
        grid-row: span 4;
    }

    .hogwarts {
        @media (min-width: 700px) {
            grid-row: span 3;
            grid-column: 3 / 5;
        }

        @media (min-width: 1024px) {
            grid-column: 3 / 6;
            grid-row: span 2;
        }
    }

    .menu {
        @media (min-width: 700px) {
            grid-column: 1 / -1;
            grid-row: 13;
        }

        @media (min-width: 1024px) {
            grid-row: 7 / 8;
            grid-column: 2 / 4;
        }
    }

    .toggles {
        @media (min-width: 700px) and (max-width:1024px) {
            grid-column: 3 / 6;
            grid-row: 10 / 13;
        }
    }

    .plan {
        @media (min-width: 700px) and (max-width: 1024px) {
            grid-column: span 4;
        }
    }

    .style,
    .magazine,
    .pasta {
        @media (min-width: 700px) and (max-width: 1024px) {
            grid-column: 1 / 3;
        }
    }

    .cssgrid-collection {
        grid-column: 1 / -1;
        grid-row: 9;
    }
}

.span--2 {
    grid-column: span 2;
}

.long--2 {
    grid-row: span 2;
}

.long--4 {
    grid-row: span 4;
}

.with-border {
    border-top: 1px solid;
    padding-top: 0.6rem;
}

img {
    width: 100%;
    filter: grayscale(95%);
    margin-bottom: 0.5rem;
    border: 1px solid var(--black);
    transition: 0.3s ease;
}

figcaption {
    font-style: italic;
    font-size: 90%;
}

aside {
    text-align: center;
    padding: 3px 0;
    border: solid var(--black);
    border-width: 2px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1.5rem 0;

    @media (min-width: 700px) {
        margin: 0;
    }

    >div {
        display: flex;
        align-items: center;
        border: solid var(--black);
        border-width: 1px 0;

        >div {
            flex: 1;
            padding: 8px;
        }
    }
}

@media (min-width: 700px) {
    .multi-column {
        column-count: 2;
        column-gap: 1.3rem;
        margin-top: 0.75rem;

        & {
            column-count: 3;
        }
    }
}

.sidebar {
    margin-top: 3rem;

    @media (min-width: 700px) and (max-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0;

        h3 {
            width: 100%;
            text-align: center;
        }

        >a {
            flex: 0 1 48%;
            margin: 1.5rem 0;
            padding: 0;
        }

        .slack-ui {
            border-top: 0;
        }

        .pie {
            order: 3;
        }
    }

    @media (min-width: 1024px) {
        display: block;
        border-left: 1px solid;
        padding-left: 1.2rem;
        margin: 0;
    }
}

.main-text.multi-column {
    margin: 0;

    p {
        margin-bottom: 0.8rem;
    }
}

.hogwarts {
    text-align: center;
    height: 100%;
    width: calc(100% - 4px);
    margin: 1.5rem auto;
    overflow: hidden;

    @media (min-width: 700px) {
        margin: 0;
    }

    &__title {
        font: 800 24px/1 var(--font-sans-serif);
        text-transform: uppercase;
        background: var(--black);
        color: var(--gray);
        padding: 0.8rem 0.8rem 0.9rem;
        transition: 0.2s ease;

        @media (min-width: 700px) and (max-width: 1024px) {
            font: 800 21px/1.2 var(--font-sans-serif);
            padding: 1.5rem 0.5rem;
        }
    }

    &__image {
        height: 100%;
        position: relative;

        img {
            transform: rotate(60deg);
            height: 150%;
            position: absolute;
            border: 0;
            width: 250%;
            left: -70%;
            bottom: -35%;

            @media (min-width: 700px) and (max-width: 1024px) {
                bottom: -20%;
            }
        }

        span {
            font-style: italic;
            max-width: 110px;
            position: absolute;
            top: 7%;
            left: 18%;
            font-size: 22px;
            line-height: 0.9;
            transform: rotate(-5deg);
        }
    }
}

/* 마우스커서 이펙트 */
#light {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
}

#click-effect {
    position: fixed;
    pointer-events: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%);
    transform: scale(0);
    opacity: 0;
    transition: transform 0.4s, opacity 0.6s;
}

.trail {
    position: fixed;
    pointer-events: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 80%);
    opacity: 1;
    transition: opacity 2s;
}

/* 마법 지도 발자국 */
.footprint {
    position: absolute;
    width: 50px;
    opacity: 1;
    transition: opacity 1s;
}

/* 가까이 가면 움직이는 사진 */
#gifContainer {
    background-size: cover;
    cursor: pointer;
}

#videoContainer {
    position: relative;
    width: 640px;
    height: 360px;
    margin: 100px auto;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
}